<!-- https://startbootstrap.com/snippets "Bootstrap snippets"-->
<app-loading *ngIf="loading"></app-loading>
<!-- Portfolio Item Row -->
<div class="row mt-4" *ngIf="!loading">
  <div class="col-md-5">
    <img class="img-fluid" [src]="character.photo" alt="" />
  </div>

  <div class="col-md-7">
    <h3 class="my-3">{{ character.name }} -
        <small>{{ character.actor }}</small></h3>
    <p>
        {{ character.description }}
    </p>
    <h3 class="my-3">Detalles interesantes</h3>
    <ul>
      <li>Votos recibidos: {{ character.votes }}</li>
      <li>Episodios: {{ character.total_episodes }}</li>
    </ul>
    <a [href]="character.url" target="_blank" class="btn btn-info"
      >M&aacute;s informaci&oacute;n</a
    >
  </div>
</div>
<!-- /.row -->
